
<div class="container my-5">
    <button class="btn btn-danger" routerLink="/user">back</button>
</div>
<div class="container mt-5" [formGroup]="formValue">
    <div class="row">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <input type="text" class="form-control" formControlName="city" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <button class="btn btn-info" (click)="onSubmit()">Submit </button>
    </div>    
</div>